
body {
	background-color: #111;
}

a {
	text-decoration: none;
}

.wrap {	
	width: 1850px;
	height: 880px;
	background-color: #111;
	margin: auto;
	padding-top: 50px;
}



ul {
	list-style-type: none;
	margin:0;
	padding: 0;
	width: 100%;
}

li {
	display: inline;
}

.four li {
	padding: 33px;
}

.help {
	margin-top: 35px;
	font-size: 60px;
	font-family: "Franklin Gothic Demi", Helvetica, Arial;
	color: #bbb;
	text-align: center;
}

.credits {
	position: absolute;
	bottom: 20px; /* this needs to be the same value as the padding in '.credits a' */
	right: 100px;
}

.credits a {
	font-family: "Franklin Gothic Demi", Helvetica, Arial;
	font-size: 35px;
	color: #888;
	background: #444;
	text-decoration: none;
	padding: 20px;
}

#dialog {
    display:none;
}
.myTarget {
    font-weight:bold;
    font-style:italic;
    color:red;
}
button{
    background-color: blue;
    height:100px;
    width:150px;
}
